<!DOCTYPE html>
<html lang="en" ng-app="instasearch">

<head>
    <meta charset="UTF-8">
    <title>Instasearch</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">
    <!-- http://www.bootstrapcdn.com/#bootswatch_tab -->
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/slate/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/lumen/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/main.css">
</head>

<body ng-controller="isCtrl as is">
    <!-- http://goo.gl/kcHFzy -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand">Instasearch</div>
                <form novalidate name="isForm" ng-submit="submitter()" class="navbar-form pull-left" role="search">
                    <div class="input-group">
                        <input accesskey="s" type="text" class="form-control col-sm-10" placeholder="search a tag   " required autofocus ng-model="search" ng-pattern="/^[A-Za-z ]+$/" role="search">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--     <div class="jumbotron">
        <div class="container">
            <h1>Instagram Searcher</h1>
            <form class="form" novalidate name="isForm" ng-submit="submitter()">
                <div class="input-group">
                    <input accesskey="s" type="text" class="form-control col-sm-10" placeholder="cats" required autofocus ng-model="search" ng-pattern="/^[A-Za-z ]+$/" role="search">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
 -->
    <div class="container content" ng-cloak>
        <div class="row">
            <div class="col-sm-12">
                <div ng-if="alertSuccess" ng-model="successMessage" class="alert alert-success" role="search">
                    <p>{{successMessage}}</p>
                </div>
                <div ng-if="alertDanger" ng-model="dangerMessage" class="alert alert-danger" role="alert">
                    <p>{{dangerMessage}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3" ng-repeat="picture in pictures">
                <a class="thumbnail" target="_blank" href="{{picture.link}}">
                    <img ng-src="{{picture.images.thumbnail.url}}" alt="{{picture.caption.text}}">
                </a>
            </div>
        </div>
    </div>
    <script src="https://code.angularjs.org/1.3.15/angular.js"></script>
    <script src="https://code.angularjs.org/1.4.0-beta.6/angular-animate.js"></script>
    <script src="assets/scripts/app.js"></script>
</body>

</html>
